.head{
    padding:30px 0;
    text-align: center;
    background-color: #41A4F5;
    color: white;
    button {
        border: 0;
        background-color: #eeeeee;
        color: black;
    }
}
.options {
    background-color: #41A4F5;
}